.container {
  background-color: brown;
  height: 500px;
  display: grid;
  border: 4px solid black;
  gap: 5px;
  grid-template-rows: 30px 1fr 30px;
  grid-template-columns: 200px 1fr 1fr 150px;
}

.box {
  border: 2px solid black;
  background-color: aqua;
}

#box1 , #box4{
  grid-column-start: 1;
  grid-column-end: 5;
}

#box3
{
    grid-column-start: 2;
    grid-column-end: 4;
}

